@import "variables", "mixins", "fonts", "reset";

// button style

// card style

// list style

// layout

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $gray-100;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  height: $hdH;
  background: $gray-400;
}

#main {
  min-width: calc(100vh - $hdH - $ftH);
  flex-grow: 1;
  background: $gray-800;
}

#footer {
  width: 100%;
  height: $ftH;
  position: fixed;
  bottom: 0;
  background: $gray-200;
}

// header (상세)
#logo {
  position: relative;
  z-index: 1100;
}

#header {
  .inner {
    // @include flex
    @include flexsb;
  }
  .col-right {
    display: flex;
    flex-direction: row-reverse;
  }

  .u-skip {
    a {
      display: none;
    }
  }

  .gnb-wrap {
    .inp-burger {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: none;
      opacity: 0;
      visibility: hidden;
      // input이 체크됐을 때
      &:checked {
        // + : 형제 선택자 (바로 뒤에 있는 요소)
        & + .label-burger {
          // input이 체크됐을 때 디자인
          .bar {
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(1) {
              transform: translateY(4px) rotate(-45deg);
            }
            &:nth-child(3) {
              transform: translateY(-4px) rotate(45deg);
            }
          }
          // 눌렀을 때 gnb 보이게
          & ~ #gnb {
            // display: flex;
            left: 0%;
          }
        }
      }
    }
    // input이 체크되지 않았을 때 디자인
    .label-burger {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
      z-index: 1100;
      cursor: pointer;

      .bar {
        display: block;
        width: 20px;
        height: 3px;
        border-radius: 3px;
        background: $black;
        transition: all 0.3s;
        // 순정에 넣어주자..!
      }
    }
  }
  #gnb {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    // right: 0
    bottom: 0;
    z-index: 1000;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    background: $white;
    transition: all 0.3s;
  }
  .util {
    display: none;
    ul {
      display: flex;
    }
    .link-g {
      display: block;
      height: $hdH;
      line-height: $hdH;
      &::before {
        font-family: "Font Awesome 6 free";
        font-weight: 900;
      }
    }

    .link-lang {
      &::before {
        content: "\f0ac";
      }
    }

    .link-srch {
    }
    .link-page {
    }
  }
}
// footer (상세)
@media screen and (min-width: 480px) {
  .ineer {
    padding: 0;
  }
}
@import "main", "sub1";
